/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
}

main {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

address, blockquote, dl, figure, form, iframe, ol, p, pre, table, ul {
  margin: 0;
}

ol, ul {
  padding: 0;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

embed, iframe, img, object, svg {
  vertical-align: bottom;
}

button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

[type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled, button:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

fieldset, option {
  padding: 0;
}

fieldset {
  margin: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
}

caption {
  text-align: left;
}

td, th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: 700;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.inner {
  max-width: 980px;
  margin: 0 auto;
}

.contents {
  background-color: #e6ecff;
  padding: 50px 0;
}
.contents__inner {
  background-color: #fff;
  padding: 20px;
}
.contents__head {
  margin-bottom: 30px;
  text-align: center;
}
.contents__headTitle {
  margin-bottom: 20px;
}
.contents__result {
  display: inline-block;
  margin-bottom: 20px;
  background-color: #ffedf0;
  padding: 10px;
}
.contents__resultText {
  border-bottom: 1px solid gray;
  display: inline-block;
  padding-bottom: 5px;
}
.contents__result .is-hidden {
  visibility: hidden;
}
.contents__button {
  border: 1px solid #333;
  padding: 5px 20px;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contents__button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #333;
  color: #fff;
}
.contents__glid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.contents__glid li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 10px;
  height: 60px;
}
.contents__glid li:nth-child(3), .contents__glid li:nth-child(6), .contents__glid li:nth-child(9) {
  border-right: none;
}
.contents__glid li:nth-child(7), .contents__glid li:nth-child(8), .contents__glid li:nth-child(9) {
  border-bottom: none;
}